.listing {
  border: 1px solid #ddd;
  padding: 20px 30px 30px
}

.info {
  border-bottom: 1px solid #ddd;
  padding: 10px 0 10px
}

.photo {
  display: inline-block;
  border: 2px double #ddd;
}

.listing_detail {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin: 20px 0 10px;
}
